include src/nameCreator/F/names/american.txt
include src/nameCreator/M/names/american.txt
include src/nameCreator/L/names/american.txt

include src/nameCreator/F/names/russian.txt
include src/nameCreator/M/names/russian.txt
include src/nameCreator/L/names/russian.txt

include src/nameCreator/F/names/spanish.txt
include src/nameCreator/M/names/spanish.txt
include src/nameCreator/L/names/spanish.txt

include src/nameCreator/F/names/italian.txt
include src/nameCreator/M/names/italian.txt
include src/nameCreator/L/names/italian.txt

include src/nameCreator/F/names/german.txt
include src/nameCreator/M/names/german.txt
include src/nameCreator/L/names/german.txt

include src/nameCreator/F/names/french.txt
include src/nameCreator/M/names/french.txt
include src/nameCreator/L/names/french.txt

include src/nameCreator/F/names/swedish.txt
include src/nameCreator/M/names/swedish.txt
include src/nameCreator/L/names/swedish.txt
