include src/nameCreator/F/names/american.txt
include src/nameCreator/M/names/american.txt
include src/nameCreator/L/names/american.txt

include src/nameCreator/F/names/russian.txt
include src/nameCreator/M/names/russian.txt
include src/nameCreator/L/names/russian.txt

include src/nameCreator/F/names/spanish.txt
include src/nameCreator/M/names/spanish.txt
include src/nameCreator/L/names/spanish.txt
